/*--------------------------------------------------------------
HERO SECTION // GENERAL
--------------------------------------------------------------*/
/* CTA button */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(252,70,107,0.3);
    transition: all 0.3s ease;
    text-decoration: none;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(252,70,107,0.4);
}

.cta-button:active {
    transform: translateY(1px);
    box-shadow: 0px 5px 10px rgba(252,70,107,0.4);
}

.full-access {
    display: inline-block;
    padding: 8px 16px; /* Smaller button */
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 50px;
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 0 auto;
    display: table;
}

.full-access:hover {
    background: rgba(255, 255, 255, 1);
    color: #000;
}

/* background for hero */
.custom-body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: radial-gradient(circle at center, #121212, #000);
}

.custom-h2 {
    font-size: 2em;
    letter-spacing: 0.3em;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.custom-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.5);
    animation: bgfade 20s infinite;
}

.custom-h1 {
    font-size: 3em;
    letter-spacing: 0.3em;
    margin-bottom: 2em;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
    animation: textfade 5s infinite;
}

.custom-h1::before, .custom-h1::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    z-index: -1;
    opacity: 0.2;
    animation: lightscan 10s infinite;
}

.custom-h1::before {
    filter: blur(10px);
}

/* media queries + animations */
@media (max-width: 1200px) {
    .custom-h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 992px) {
    .custom-h1 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .custom-h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    .custom-h1 {
        font-size: 1em;
    }
}

@keyframes lightscan {
    0%, 100% { transform: translateX(-100%); }
    50% { transform: translateX(100%); }
}

@keyframes textfade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

@keyframes bgfade {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.custom-nav div:first-child {
    color: #fff;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.custom-nav a {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    transition: color 0.3s ease;
    align-self: center; 
}

.custom-nav a:hover {
    color: #fff;
}

.custom-nav a:last-child {
    display: inline-block;
    padding: 8px 16px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(252,70,107,0.3);
    transition: all 0.3s ease;
    text-decoration: none;
}

.custom-nav a:last-child:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(252,70,107,0.4);
}

.custom-nav a:last-child:active {
    transform: translateY(1px);
    box-shadow: 0px 5px 10px rgba(252,70,107,0.4);
}

#dropdown {
    flex-direction: column;
    gap: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

#dropdown a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#dropdown button {
    position: absolute;
    right: 1em;
    top: 1em;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    padding: 20px;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

.service-card i {
    color: #fff;
    transition: color 0.3s ease;
}

.service-card i:hover {
    color: #ddd;
}

.service-card h3, .service-card p {
    color: #ddd;
}

/*--------------------------------------------------------------
# HOW IT WORKS // TIMELINE
--------------------------------------------------------------*/
.use-cases-section {
    position: relative;
    padding-bottom: 20px;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    list-style: none;
    text-align: center;
    counter-reset: item;
}

.timeline-item {
    counter-increment: item;
    padding: 20px;
    position: relative;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
    opacity: 0.6;
    filter: blur(2px);
    z-index: 1;
    height: auto;
}

.timeline-item:hover {
    opacity: 1;
    filter: none;
}

.timeline-item.active {
    opacity: 1;
    filter: blur(0px);
}

.timeline-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: #fff;
    transition: width 0.3s ease;
}

.case-details {
    color: #ddd;
}

.case-card {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 20px);
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Subtle white glow */
    text-align: left;
    width: 570px;
    padding: 2em;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease; /* Add shadow to transition */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.case-card:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4); /* Intensify white glow on hover */
}

.case-card.hidden {
    opacity: 0;
    transform: translate(-50%, 30px); /* Move it further down when hidden */
    pointer-events: none;
    display: none;
}

.case-card .fas {
    font-size: 5em;
    margin-bottom: 0;

}

.case-card .case-details {
    border-top: none;
    padding-top: 0;
    font-size: 1.5em;
    text-align: center;
}

.case-card .fas, .case-card img {
    display: block;
    margin: 0 auto;
    font-size: 14em;
    max-width: 100%;
    height: auto;
}
.case-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-container {
    border-right: 1px solid #fff;
    padding-right: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.text-container {
    flex: 1;
}

/* media queries */
@media only screen and (min-width: 768px) {
    .use-cases-section {
        padding-bottom: 400px;
    }
}

@media only screen and (min-width: 768px) {
    .case-card {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 20px);
    }
}

@media only screen and (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: center;
    }
    .timeline-item {
        width: 100%;
    }
    .case-card {
        top: auto;
        bottom: 100%;
        left: 0;
        width: 100%;
        transform: translate(0, 20px);
    }
    .case-card.hidden {
        transform: translate(0, 30px);
    }
    .case-content {
        flex-direction: column;
    }
    .icon-container {
        border-right: none; 
        padding-right: 0;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .case-card {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        transform: none;
    }
}

/*--------------------------------------------------------------
# USE-CASES
--------------------------------------------------------------*/
.document-understanding-use-case-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    margin: 40px auto;
    max-width: 800px;
}

.document-understanding-case-card {
    position: relative; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: left;
    width: 100%; 
    padding: 40px;
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(25, 25, 25, 0.8));
}

.document-understanding-case-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
}

.document-understanding-case-card .fa {
    font-size: 2.5em;
    margin-right: 15px;
    transition: text-shadow 0.5s ease; 
}

.document-understanding-case-card:hover .fa {
    text-shadow: 0 0 20px #fff; 
}

.document-understanding-case-card .title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.document-understanding-case-card .description {
    font-size: 1.1em;
    transition: text-shadow 0.5s ease; 
}

.document-understanding-case-card:hover .description {
    text-shadow: 0 0 20px #fff;
}

/* media queries */
@media (max-width: 767px) {
    .document-understanding-use-case-section {
        grid-template-columns: repeat(1, 1fr);
        margin: 40px 20px;
    }
}

/*--------------------------------------------------------------
# DEMO
--------------------------------------------------------------*/
.demo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.interactive-demo-card {
    position: relative; 
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 75vw; 
    height: 80vh;
    max-width: 1200px;
    padding: 40px;
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(25, 25, 25, 0.8));
    margin-top: 30px; /* Push the card below the title and subtitle */
}

.interactive-demo-card:hover {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
}

.demo-upload, .demo-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.demo-upload {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
}

.demo-upload p, .demo-result p {
    font-size: 1.5em;
    margin-top: 20px;
}

.demo-upload:hover {
    box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.4);
}

.demo-result {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.demo-result:hover {
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4);
}

.demo-subtitle {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#submitBtn {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#submitBtn:hover {
    background-color: white;
    color: black;
}

/* media queries */
@media (max-width: 767px) {
    .interactive-demo-card {
        grid-template-columns: 1fr;
        height: auto; /* Adjust height to fit the content */
    }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.2);  /* subtle border for division */
    box-shadow: 0 -10px 30px rgba(0,0,0,0.2);  /* shadow for depth */
}

.footer-logo {
    font-size: 2.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for the logo */
    transition: all 0.3s ease;
}

.footer-logo:hover {
    transform: scale(1.1); /* subtle scaling effect on hover */
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase; /* uppercase text for a sleek look */
    letter-spacing: 1px; /* letter spacing for a sharp look */
}

.footer-link:hover {
    color: #fff;
    transform: translateY(-3px); /* subtle lift on hover */
}

.footer-contact {
    text-align: right;
}

/* media queries */
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer-link {
        margin: 5px 0; /* reduced margin for less space between links */
    }

    .footer-contact {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;  /* centers the content */
        margin-top: 20px;
    }
}