<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Superdocs.AI | Document Understanding</title>

    <!-- Favicon for desktop browsers -->
    <link rel="shortcut icon" type="image/png" href="/static/img/fav.png" sizes="16x16">

    <!-- Favicon for mobile devices -->
    <link rel="apple-touch-icon" sizes="128x128" href="/static/img/fav.png">
</head>

<body class="overflow-x-hidden m-0 bg-cover custom-body">
    <nav class="sticky top-0 z-50 w-3/4 mx-auto my-4 p-3 rounded-full bg-transparent custom-nav">
        <div class="text-white">Superdocs AI</div>
        <div class="flex gap-6 mr-4">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>
    </nav>
    <section class="h-screen flex items-center justify-center">
        <h1 class="text-6xl uppercase tracking-wide text-shadow custom-h1">Welcome to Superdocs AI</h1>
    </section>

    <section class="py-20 text-white">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-4xl font-bold text-center custom-h2">Document Understanding Services</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-10">
                <div class="service-card">
                    <i class="fas fa-file-alt fa-3x"></i>
                    <h3 class="text-2xl font-bold mt-4">Data Extraction</h3>
                    <p class="mt-2">Our advanced algorithms help extract valuable information from complex structured and unstructured data.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-layer-group fa-3x"></i>
                    <h3 class="text-2xl font-bold mt-4">Document Processing Pipelines</h3>
                    <p class="mt-2">We offer solutions to build comprehensive document processing pipelines, enabling seamless data flow.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-cogs fa-3x"></i>
                    <h3 class="text-2xl font-bold mt-4">Automated Data Understanding</h3>
                    <p class="mt-2">Leverage our AI-powered solutions for automatic understanding and interpretation of your documents.</p>
                </div>
            </div>
        </div>
    </section>
    

    <section class="pb-20 pt-60 text-white use-cases-section" id="use-cases">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-4xl font-bold text-center custom-h2">Use Cases</h2>
            <div class="timeline mt-10">
                <div class="timeline-item" id="case1">
                    <h3 class="text-2xl font-bold">Case 1</h3>
                    <div class="case-card hidden">
                        <i class="fas fa-receipt"></i>
                        <p class="case-details">Details about Case 1...</p>
                    </div>
                </div>
                <div class="timeline-item" id="case1">
                    <h3 class="text-2xl font-bold">Case 2</h3>
                    <div class="case-card hidden">
                        <i class="fas fa-file-invoice"></i>
                        <p class="case-details">Details about Case 2...</p>
                    </div>
                </div>
                <div class="timeline-item" id="case1">
                    <h3 class="text-2xl font-bold">Case 3</h3>
                    <div class="case-card hidden">
                        <i class="fas fa-file-contract"></i>
                        <p class="case-details">Details about Case 3...</p>
                    </div>
                </div>
                <div class="timeline-item" id="case1">
                    <h3 class="text-2xl font-bold">Case 4</h3>
                    <div class="case-card hidden">
                        <i class="fas fa-brain"></i>
                        <p class="case-details">Details about Case 4...</p>
                    </div>
                </div>
            </div>
            <div class="timeline-indicator"></div>
        </div>
    </section>

    <script src="/static/js/main.js"></script>
</body>

</html>