<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Superdocs.AI | Document Understanding</title>

    <!-- Favicon for desktop browsers -->
    <link rel="shortcut icon" type="image/png" href="/static/img/fav.png" sizes="16x16">

    <!-- Favicon for mobile devices -->
    <link rel="apple-touch-icon" sizes="128x128" href="/static/img/fav.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="overflow-x-hidden m-0 bg-cover custom-body">
    <nav class="sticky top-0 z-50 w-3/4 mx-auto my-4 p-3 rounded-full bg-black custom-nav">
        <button class="cursor-pointer text-lg md:text-2xl" onclick="goToHome()">
            <div class="text-white">Superdocs.AI</div>
        </button>
        <div class="hidden lg:flex gap-6 mr-4"> 
            <a href="#services">Services</a>
            <a href="#about">About</a>
            <a href="#demo">Demo</a>
            <a href="#features">Features</a>
            <a href="#openModal">Request Full Access</a>
        </div>
        <button class="lg:hidden" id="hamburger">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        <div class="hidden" id="dropdown">
            <button id="close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
            <a href="#services">Services</a>
            <a href="#about">About</a>
            <a href="#demo">Demo</a>
            <a href="#features">Features</a>
            <a href="#">Request Full Access</a>
        </div>
    </nav>

    <section class="h-screen flex items-center justify-center flex-col custom-hero">
        <h1 class="text-6xl uppercase tracking-wide text-shadow custom-h1">Welcome to Superdocs.AI</h1>
        <a href="#" class="cta-button cursor-pointer">Request Full Access</a>
    </section>

    <section class="py-20 text-white" id="services">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-4xl font-bold text-center custom-h2">Document Understanding Services</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-10">
                <div class="transform transition-transform duration-300 bg-gray-800 bg-opacity-10 hover:shadow-lg rounded-lg p-5 text-center hover:-translate-y-2">
                    <i class="fas fa-file-alt fa-3x"></i>
                    <h3 class="text-2xl font-bold mt-4 bg-clip-text text-transparent bg-gradient-to-r from-purple-600 via-pink-500 to-red-500">Data Extraction</h3>
                    <p class="mt-2 text-xl leading-7 transition-colors duration-300 hover:text-gray-200">Advanced algorithms help extract valuable information from complex structured and
                        unstructured data.</p>
                </div>
                <div class="transform transition-transform duration-300 bg-gray-800 bg-opacity-10 hover:shadow-lg rounded-lg p-5 text-center hover:-translate-y-2">
                    <i class="fas fa-layer-group fa-3x"></i>
                    <h3 class="text-2xl font-bold mt-4 bg-clip-text text-transparent bg-gradient-to-r from-purple-600 via-pink-500 to-red-500">Document Pipelines</h3>
                    <p class="mt-2 text-xl leading-7 transition-colors duration-300 hover:text-gray-200">Solutions to build comprehensive document processing pipelines, enabling seamless
                        data flow.</p>
                </div>
                <div class="transform transition-transform duration-300 bg-gray-800 bg-opacity-10 hover:shadow-lg rounded-lg p-5 text-center hover:-translate-y-2">
                    <i class="fas fa-cogs fa-3x"></i>
                    <h3 class="text-2xl font-bold mt-4 bg-clip-text text-transparent bg-gradient-to-r from-purple-600 via-pink-500 to-red-500">Fully Automated</h3>
                    <p class="mt-2 text-xl leading-7 transition-colors duration-300 hover:text-gray-200">Leverage AI-powered solutions for automatic understanding and interpretation of your
                        documents.</p>
                </div>
            </div>
        </div>
    </section>    


    <section class="pb-20 pt-40 text-white use-cases-section" id="about">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-4xl font-bold text-center custom-h2">How it Works</h2>
            <div class="timeline mt-10">
                <div class="timeline-item" id="case1">
                    <h3 class="text-xl font-bold cursor-pointer">Step 1: Upload Document</h3>
                    <div class="case-card hidden">
                        <div class="case-content">
                            <!-- New div -->
                            <div class="icon-container">
                                <!-- New div -->
                                <img src="/static/img/pdf.png">
                            </div>
                            <div class="text-container">
                                <!-- New div -->
                                <p class="case-details">Upload your document to the platform or send an API request</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item" id="case2">
                    <h3 class="text-xl font-bold cursor-pointer">Step 2: Set Fields</h3>
                    <div class="case-card hidden">
                        <div class="case-content">
                            <!-- New div -->
                            <div class="icon-container">
                                <!-- New div -->
                                <img src="/static/img/doc.png">
                            </div>
                            <div class="text-container">
                                <!-- New div -->
                                <p class="case-details">Set your fields and specify the context for the LLM</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item" id="case3">
                    <h3 class="text-xl font-bold cursor-pointer">Step 3: Examine Results</h3>
                    <div class="case-card hidden">
                        <div class="case-content">
                            <!-- New div -->
                            <div class="icon-container">
                                <!-- New div -->
                                <img src="/static/img/examination.png">
                            </div>
                            <div class="text-container">
                                <!-- New div -->
                                <p class="case-details">Examine your output and process it accordinly</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-indicator"></div>
        </div>
    </section>

    <section class="pb-10 pt-40">
        <h2 class="text-4xl font-bold text-center custom-h2">Use Cases</h2>
        <div class="document-understanding-use-case-section">
            <div class="document-understanding-case-card">
                <div class="title">
                    <i class="fa fa-receipt" aria-hidden="true"></i>
                    <span>Receipts</span>
                </div>
                <p class="description">Easily capture and manage information from receipts</p>
            </div>
            <div class="document-understanding-case-card">
                <div class="title">
                    <i class="fa fa-file-invoice" aria-hidden="true"></i>
                    <span>Invoices</span>
                </div>
                <p class="description">Efficiently process and extract specific details from invoices</p>
            </div>
            <div class="document-understanding-case-card">
                <div class="title">
                    <i class="fa fa-file-contract" aria-hidden="true"></i>
                    <span>Contracts</span>
                </div>
                <p class="description">Automate contract review and data extraction</p>
            </div>
            <div class="document-understanding-case-card">
                <div class="title">
                    <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                    <span>Context Extraction</span>
                </div>
                <p class="description">Extract domain-specific context from any document</p>
            </div>
        </div>
    </section>

    <section
        class="flex flex-col pb-10 sm:pb-20 md:pb-30 lg:pb-40 pt-40 items-center justify-center m-auto max-w-screen-xl w-3/4 md:pb-16 lg:pb-24 xl:pb-32 2xl:pb-40"
        id="features">
        <h2 class="text-4xl font-bold text-center custom-h2 pb-20">Access Features</h2>
        <div class="grid grid-cols-2 gap-10 justify-items-center w-full access-feature-grid">
            <div
                class="relative bg-black bg-opacity-80 text-white rounded-xl glow text-center w-full p-10 min-h-full transform transition-transform duration-500 ease-in-out flex flex-col items-center justify-center hover:scale-105 space-y-4">
                <i class="fas fa-check-circle text-5xl mb-2 card-icon"></i>
                <h2 class="text-2xl font-bold mb-2 card-title">Free Demo</h2>
                <ul class="list-none text-left space-y-2">
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> Try our powerful document
                        understanding</li>
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> 100% free with no signup
                        required</li>
                    <li class="feature-item"><i class="fas fa-times feature-inactive"></i> No API Access</li>
                    <li class="feature-item"><i class="fas fa-times feature-inactive"></i> No custom integrations</li>
                    <li class="feature-item"><i class="fas fa-times feature-inactive"></i> No reserved compute</li>
                </ul>
            </div>
            <div
                class="relative bg-black bg-opacity-80 text-white rounded-xl glow-full-access text-center w-full p-10 min-h-full transform transition-transform duration-500 ease-in-out flex flex-col items-center justify-center hover:scale-105 space-y-4">
                <i class="fas fa-unlock text-5xl mb-2 card-icon-full"></i>
                <h2 class="text-2xl font-bold mb-2 card-title">Full Access</h2>
                <ul class="list-none text-left space-y-2">
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> Persist data across sessions
                    </li>
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> Unlimited API access</li>
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> Custom integrations</li>
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> Reserved compute</li>
                    <li class="feature-item"><i class="fas fa-check feature-active"></i> Technical support</li>
                </ul>
            </div>
        </div>
    </section>


    <section class="demo-section pb-40 pt-20" id="demo">
        <h2 class="text-4xl font-bold text-center custom-h2">Interactive Demo</h2>
        <h2 class="demo-subtitle">Try it out now for free and experience the ease of use</h2>
        <a href="#" class="cta-button full-access">Request Full Access</a>
        <div class="interactive-demo-card">
            <div class="demo-upload" id="uploadContainer">
                <div class="upload-content">
                    <input type="file" id="fileUpload" style="display:none;" />
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <p>Click to upload your file</p>
                </div>
                <div class="dummy-input"></div>
            </div>
            <div class="demo-fields">
                <div class="demo-fields-inner">
                    <div class="field-prompt">
                        <i class="fa fa-wrench field-icon" aria-hidden="true"></i>
                        <p id="fieldPrompt">Set your extraction fields here</p>
                    </div>
                    <p id="extractionFields" style="display:none;">Extraction Fields:</p>
                    <div id="fieldsContainer"></div>
                    <div class="inputContainer">
                        <input type="text" id="fieldInput" placeholder="Enter your fields..." />
                    </div>
                </div>

            </div>
            <div class="demo-result overflow-y-auto">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <p id="resultText">Results displayed here</p>
            </div>
            <div id="loading" class="spinner"></div>
            <div class="flash-message"></div>
            <div class="submitContainer">
                <button id="submitButton" style="display: none;">Submit for Extraction <i
                        class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </section>


    <footer class="text-white py-20">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
                <div class="space-y-4 mb-10 md:mb-0">
                    <a class="cursor-pointer" href="/">
                        <h3 class="text-2xl font-bold tracking-tighter">Superdocs.AI</h3>
                    </a>
                    <p class="text-gray-400 text-lg">Powerful AI solutions for the modern era</p>
                </div>
                <nav class="mb-10 md:mb-0">
                    <h3 class="text-xl font-semibold mb-4">Quick Links</h3>
                    <ul class="space-y-4">
                        <li><a href="/" class="hover:text-white transition-colors duration-300">Home</a></li>
                        <li><a href="#features" class="hover:text-white transition-colors duration-300">Features</a></li>
                        <li><a href="#about" class="hover:text-white transition-colors duration-300">About</a></li>
                        <li><a href="#services" class="hover:text-white transition-colors duration-300">Services</a></li>
                    </ul>
                </nav>
                <div>
                    <h3 class="text-xl font-semibold mb-4">Stay in the loop</h3>
                    <form action="/subscribe" method="post" class="flex flex-col">
                        <input type="email" name="email" placeholder="Your email" class="mb-2 p-2 bg-transparent border border-gray-400 w-3/4 mx-auto rounded text-gray-400 required">
                        <button type="submit" class="cta-button w-3/4 mx-auto">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="border-t border-gray-700 mt-12 pt-6 text-center text-gray-400">
                <p>&copy; 2023 Superdocs.AI. All rights reserved.</p>
            </div>
        </div>
    </footer>    
    
    <script src="/static/js/main.js"></script>
    <script src="/static/js/demo.js"></script>
</body>

</html>